lockfile=false
resolution-mode=highest

# ป้องกัน workspace error เวลา build บน CI
ignore-workspace-root-check=true
enable-pre-post-scripts=true
shamefully-hoist=true

# เพิ่มความทนทานตอน fetch meta จาก registry
registry=https://registry.npmjs.org/
fetch-retries=5
fetch-retry-factor=2
fetch-retry-maxtimeout=60000
fetch-retry-mintimeout=10000
network-timeout=600000
prefer-offline=false

# hoist ของที่ต้องใช้ตอน lint/build เอง
public-hoist-pattern[]=*@umijs/lint*
public-hoist-pattern[]=*changelog*
public-hoist-pattern[]=*commitlint*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*remark*
public-hoist-pattern[]=*semantic-release*
public-hoist-pattern[]=*stylelint*

public-hoist-pattern[]=@auth/core
public-hoist-pattern[]=@clerk/backend
public-hoist-pattern[]=@clerk/types
public-hoist-pattern[]=pdfjs-dist

# ทำให้ dependency tree ง่ายขึ้นเวลา build บน Windows / Vercel
node-linker=hoisted

# บางแพ็กเกจมี peer กว้างมาก ให้ข้าม error ที่ไม่จำเป็น
strict-peer-dependencies=false
